h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35pt;
    text-align: center;
    color: darkblue;
}
body{
    background-color: bisque;    
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    color: firebrick
}